<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css">
    <link rel="stylesheet" href="/node_modules/daisyui/dist/daisyui.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <title>Analysis - Travel Aggregators</title>
</head>

<body class="p-10 pt-0 flex flex-col">
    <header class="fixed top-0 left-0 w-full h-14 bg-gray-800 z-10">
        <div id="nav-bar" class="flex md:justify-end justify-center md:gap-6 gap-1 items-center h-full md:w-11/12 w-full"> </div>
    </header>
    <section id="Home" class=" leading-relaxed pt-20">
        <div class="md:text-2xl text-xl font-semibold pb-5 underline underline-offset-8" style="text-underline-offset: 8px;">Home </div>
        <div class="text-3xl md:text-5xl py-2 text-center font-sans font-bold">
            Welcome to Analysis of Travel Aggregators!
        </div>
        <div class="flex flex-col md:flex-row md:pt-8">
            <div class="p-3 text-xl font md:leading-loose py-10">
            Say goodbye to overwhelming options and hello to hassle-free travel
            planning!<br> Discover the perfect travel plan for your next vacation! <br>
            Our platform provides reliable insights and comparisons on flights,
            accommodations, and vacation packages. <br>
            With up-to-date data and user evaluations, we empower you to make informed
            decisions easily.
            <br>
        </div>
        <img src="static\image.png" style="width:420px"/></div>
    </section>

    <section id="About" class="h-full md:leading-loose py-10">
        <div class="md:text-2xl text-xl font-semibold pb-10 underline underline-offset-8" style="text-underline-offset: 8px;">About </div>
        <div class="md:text-2xl text-xl font-semibold py-4">Our Mission </div>
        <div class="md:text-xl text-md p-3 md:leading-loose"><span class="ml-10"></span> Our mission is to empower travelers like
            you with the most
            comprehensive analysis of leading travel aggregators. We gather data, conduct research, and analyze the
            offerings of different travel aggregators to provide you with a holistic view.
        </div>
        <div class="md:text-2xl text-xl font-semibold py-4">What We Do </div>
        <div class="md:text-xl text-md p-3 md:leading-loose"><span class="ml-10"></span> We are a dedicated team of travel
            enthusiasts and data analysts. Our
            platform serves as a one-stop destination for all your travel aggregator needs. We offer real-time pricing
            information, user reviews, and unbiased evaluations based on factors such as user experience, pricing
            models, and customer satisfaction.</div>
        <div class="md:text-2xl text-xl font-semibold py-4">Why Choose Us</div>
        <ul class="md:text-xl text-md md:px-8 px-2 md:leading-loose">
            <li><b>Reliable Information : </b>We deliver accurate and up-to-date information about leading travel
                aggregators.</li>
            <li><b>Unbiased Evaluations : </b>We remain impartial and provide objective assessments to help you make
                well-informed decisions.
            <li><b>User-Focused Experience : </b>Our platform is designed with your needs in mind, offering a seamless
                and user-friendly experience.
            <li><b>Empowerment through Knowledge : </b> equip you with comprehensive analysis and insights to make
                confident choices.</li>
        </ul>
        </div>

    </section>

    <section id="Dashboard" class="h-full leading-relaxed py-8">
        <div class="md:text-2xl text-xl font-semibold pb-10 underline" style="text-underline-offset: 8px;">Dashboard</div>
        <div class="md:text-xl text-md px-3 md:leading-loose"><span class="ml-10"></span> Our interactive dashboard, powered by
            IBM Cognos, offers a
            seamless and user-friendly experience. Access real-time data visualizations, analytics, and reports to gain
            valuable insights into the performance and offerings of different travel aggregators. Stay informed about
            pricing trends, customer satisfaction ratings, and market share dynamics, all in one place.</div>
        <div class="w-full md:w-10/12 m-auto p-8" style="height: calc(100vw * 11/20);"> <iframe
                src="https://us3.ca.analytics.ibm.com/bi/?perspective=dashboard&amp;pathRef=.my_folders%2FProject%2Bdashboard&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard"
                width="320" height="200" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""
                style="height: 
        100%; width:100%; object-fit:contain"></iframe>
        </div>
    </section>

    <section id="Story" class="h-full leading-relaxed py-8">
        <div class="md:text-2xl text-xl font-semibold pb-10 underline underline-offset-8" style="text-underline-offset: 8px;">Story</div>
        <div class="md:text-xl text-md p-3 md:leading-loose"><span class="ml-10"></span> Through our partnership with IBM
            Cognos, we bring you compelling
            stories that shed light on the travel industry's dynamic landscape. Explore in-depth narratives, case
            studies, and success stories of leading travel aggregators. Dive into the challenges they faced, the
            strategies they implemented, and the lessons learned along the way. Gain inspiration and learn from their
            experiences to make informed decisions for your own travel business or personal trips.</div>
        <div class="w-full md:w-10/12 m-auto p-8" style="height: calc(100vw * 11/20);"> <iframe
                src="https://us3.ca.analytics.ibm.com/bi/?perspective=story&amp;pathRef=.my_folders%2FProject%2Bstory&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard"
                width="320" height="200" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""
                style="height: 
            100%; width:100%; object-fit:contain"></iframe>
        </div>

    </section>

    <section id="Report" class="h-full leading-relaxed py-8">
        <div class="md:text-2xl text-xl font-semibold pb-10 underline" style="text-underline-offset: 8px;">Report</div>
        <div class="md:text-xl text-md p-3 md:leading-loose"><span class="ml-10"></span> Our reports, powered by IBM Cognos, provide
            comprehensive
            analysis and evaluation of the leading travel aggregators. Get detailed insights into their market presence,
            user experience, pricing models, customer satisfaction, and more. Our reports are based on extensive
            research, data analytics, and expert opinions, enabling you to make data-driven decisions when choosing a
            travel aggregator that aligns with your preferences and needs.</div>
        <div class="w-full md:w-11/12 m-auto p-8"> <iframe
                src="https://us3.ca.analytics.ibm.com/bi/?pathRef=.my_folders%2FProject%2Breport&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded"
                width="320" height="200" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""
                style="height: 
            100%; width:100%; object-fit:contain ;height: calc(100vw * 16/20);"></iframe>
        </div>

    </section>

    <section id="Contact" class="h-full leading-relaxed py-10">
        <div class="md:text-2xl text-xl font-semibold pb-10 underline underline-offset-8" style="text-underline-offset: 8px;">Contact </div>
        <div class="md:text-xl text-md pb-12 md:leading-loose"><span class="ml-10"></span> Have a question or need assistance?
            Contact our dedicated support
            team for any inquiries regarding our comprehensive analysis of leading travel aggregators. We're here to
            provide guidance, address concerns, and ensure you have a seamless experience while using our platform. Feel
            free to reach out via email, phone, or through the contact form provided on our website.</div>
        <div class="flex md:flex-row flex-col md:text-2xl text-lg md:w-1/2 w-3/4 m-auto justify-around">
            <div class="hover:cursor-pointer py-1 px-4 rounded-md contact"> <a id="profile-link" target="_blank"
                    href=""><i class="fab fa-facebook-square"></i><span class="ml-3"></span> Facebook</a> </div>
            <div class="hover:cursor-pointer py-1 px-4 rounded-md contact"> <a id="profile-link" target="_blank"
                    href=""><i class="fas fa-at"></i><span class="ml-3"></span> Send a mail</a> </div>
            <div class="hover:cursor-pointer py-1 px-4 rounded-md contact"> <a id="profile-link" target="_blank"
                    href=""><i class="fab fa-twitter"></i><span class="ml-3"></span> Twitter</a> </div>


    </section>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

        body {
            font-family: poppins;
            background-color: floralwhite;
        }

        * {
            scroll-behavior: smooth;
        }

        .contact:hover {
            background-color: wheat;
        }

        ::-webkit-scrollbar {
            width: 5px;
        }

        ::-webkit-scrollbar-track {
            background-color: #f1f1f1;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #888;
            border-radius: 3px; 
        }
    </style>
</body>
<script>
    const myHeader = document.getElementById('nav-bar');
    const value = ["Home", "About", "Dashboard", "Story", "Report", "Contact"];
    for (let i = 0; i < 6; i++) {
        const newDiv = document.createElement('div');
        newDiv.className = 'text-white md:text-xl cursor-pointer hover:scale-105 transform duration-300';
        const newAnchor = document.createElement('a');
        newAnchor.textContent = value[i];
        newAnchor.href = '#' + value[i];
        newDiv.appendChild(newAnchor);
        myHeader.appendChild(newDiv);
    }
</script>

</html>